@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('./fonts/SinkinSans-400Regular-webfont.eot');
    src: url('./fonts/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         /* url('./fonts/SinkinSans-400Regular-webfont.woff2') format('woff2'), */
         url('./fonts/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('./fonts/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('./fonts/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family:"sinkin_sans400_regular"
}


/* NAVIGATION CUSTOMIZATION */
a{
    text-decoration:none;
}

a:hover{
    color: lightsalmon;
}


/* MIDDLE SECTION OF THE PAGE */
.flexbox{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    /* border : outset rgb(255, 192, 252) 2px; */
    padding:20px;
}

.flexbox > *{
    padding: 2px 0px 3px 0px;
    flex: 1 100%;
}


.interactionbox{
    display: flex;
    flex-flow: row wrap;
    width:100%;
    height:auto;
    margin:auto;
    align-items:stretch;
    justify-content:center;
}



input:hover{
    color :rgb(76, 47, 240);
    background-color: rgb(228, 225, 225);
}

/* paragraphe */
p{
    padding:30px;
    margin: 10px;
    border-radius: 40px;
    border: outset rgb(9, 105, 9) 1px;
    text-align: justify;
    font-size:1.1rem
}

.buble0{
    background: mediumseagreen;
    color:white;
}

.buble1{
    background: lightgreen
}

.buble2{
    background: mediumaquamarine
}

.buble3{
    background: rgb(75, 151, 126)
}

.input--usertext{
    width:600px;
    height:5em;
    background-color : white;
    color: rgb(104, 58, 2);
}

/* LAST PART OF THE LAYOUT */
footer, .contenaire{
    display:flex;
    flex-flow: row wrap;
    padding-top:25px;
    background-color: rgba(126, 123, 123, 0.753);
    border-radius:40px;
    height:auto;
    justify-content: space-around;
}

.copyright{
    margin-top:20px;
    color:whitesmoke;
    text-align:center;
}

.icons{
    display:flex;
    flex-flow:column nowrap;
    /* border: green 3px solid */
}

.icon-area img{
    margin-bottom:20px;
}

/* NAVIGATION MENU */

.navbar{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 146, 118);
    margin-right:2%;
    width:100%;
    height: auto;
}

/* for smaller screens */
@media all and (max-width: 600px) {
    .navbar{
        display:flex;
        flex-flow:column;
        align-items: center;
    }

    .input--usertext{
        width:200px;
    }

    .logo{
        margin:20px 0px 10px 0px;
    }

    .p, .buble0, .buble1, .buble2, .buble3{
        font-size: 0.8em;
    }

    .copyright{
        font-size: 0.8em;
    }

    .icons{
        width:160px;
        flex-flow:column wrap;
        justify-content: space-evenly;
    }

    .icon-area img{
        width:50px;
    }

}

.navbar ul{
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    list-style-type: none;
}

.navbar ul li a{
    color:whitesmoke;
    padding:12px;
}

.navbar ul li a:hover{
    background-color: whitesmoke;
    color: palevioletred;
    border-radius:5px;
    align-items:center;
    cursor: pointer;
}

.nav{
    display:flex;
    justify-content:right;
    align-items: center;
    list-style:none;
}

.logo{
    flex: 1 1 auto;
    margin-left:1%;
    text-transform: uppercase;
    letter-spacing:1px;
    font-weight: bold;
    font-size: 35px;
    color:#353fce
}


textarea{
    width: 600px
}