{% extends "layout.html"%}

{%block content%}

        <div class="spaceformenu"></div>
        
                <p class="buble0">
                        Ce projet, le fameux 7, fait partie du parcours DA Python d'Openclassrooms.<br/>
                        Le but étant de développer une application web avec Flask ayant pour but<br/>
                        de poser une question sur un lieu. 
                </p>

                <p class="buble0">
                        Grandpy se chargera de retourner un résumé
                        de ce lieu (avec API de MediaWiki) <br/>
                        et un point géographique sur une carte par le biais
                        de API Google Maps JavaScript.
                </p>

                <p class="buble0">
                        L'application est codé en Python 3.7. Une grande partie du projet a été développé en <br/>
                        respectant la discipline du Test Driven Development.
                        <br/>
                </p>

{%endblock content%}