{% extends "layout.html"%}

{%block content%}

<!-- HTML -->

    <form id="user-text-form">
        <p class="buble0"> Quel lieu souhaites-tu trouver ? 
            <label for="userText"></label>
            <input type="text" id="userText" class="input--usertext" name="userText" placeholder="Salut GrandPy, je souhaiterai savoir où se trouve...!" row="5" cols="50" autofocus>
            <input type="submit" value="Envoyer">
        </p>
    </form>

    <div class="buble0">
        <div id="chatbox" class="chatbox"></div>
    </div>

    <div class="buble0">
            <div id="link" class="link"></div>
    </div>

     <div id="map" class="map"></div>

    <!-- Replace the value of the key parameter with your own API key. -->
    <script defer src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}">
    </script>

    <script src="static/script.js" async="true"></script>
    
{% endblock content %}

<!-- 
        <div class="maps">
            <p class=buble2>la carte interactive de GoogleMapsssssss!</p>
        </div> -->

        <!-- <div class="buble0">
            <p id="chatbox" class="chatbox"> La Réponse : </p>
        </div> -->

        <!-- 
        <div class="chatbox">
            <p class=buble0>la réponse de Grandpy!</p>
        </div> -->


    <!-- HTML end -->