<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="data:,">
    <!-- ^^^pour eviter "GET /favicon.ico HTTP/1.1" 404 - -->

        {% if title %}
            <title>GrandPy - {{title}} </title>
        {% else %}
            <title>GrandPy</title>
        {% endif%}

    {% endblock head %}

</head>


<body>

    <header>

        <div class="navbar">

            <a href="{{url_for('home')}}" class="logo">GrandPy</a>

            <ul class="nav">
                <li><a href="{{url_for('home')}}">Rechercher</a></li>
                <li><a href="{{url_for('about')}}">A propos</a></li>
            </ul>
        </div>

        
    </header>

        <section class="flexbox">       

            <div class="interactionbox">
            {%block content%}
            
            {% endblock content %}
            </div>

        </section>
    
        <!-- <section class="flexbox"> -->

            <footer class="contenaire">

                <div class="copyright">

                    <h2>©Copyright - Projet 7 Openclassrooms - Jonathan R.</h2>

                </div> 

                <div class="icons">

                    <div class="icon-area">
                        <img src="./static/image/python.png" alt="icone" />
                        <img src="./static/image/htmlcssjs.png" alt="icone" />
                        <img src="./static/image/flask.png" alt="icone" />
                    </div>

                </div> 

            </footer>
            
        <!-- </section> -->
        
    </body>

</html> 